# Cache directory for UMAP and K-Means results
cache/
cluster_reports/
*.diskcache/

# Python
__pycache__/


*.pkl 
*.parquet

# OS
.DS_Store
Thumbs.db


py/.venv
.venv
*.env
*.next
*node_modules
scratchpads/*.txt
scratchpads/data/debug_responses
scratchpads/data/example_strands
scratchpads/data/*_old
cluster_reports.zip
cluster_volume_evolution.png